<div class="footer-container">
  <div class="reservation-container" id="reservation">
    <div class="reservation-header-container">
      <h1><span class="windsong">R</span>eservation</h1>
    </div>
    <div class="reservation-content-container">
      <div class="empty-container"></div>
      <div class="form-container">
        <form action="">
          <input type="text" class="input-text" placeholder="Name" />
          <input type="text" class="input-text" placeholder="Phone Number" />
          <input
            type="text"
            class="input-text"
            placeholder="Number Of Guests"
          />
          <input type="submit" class="hover" />
        </form>
      </div>
    </div>
  </div>

  <div class="footer-footer">
    <div class="content-container">
      <div><img src="logo2.png" alt="" /></div>
      <div>
        <a (click)="scrollToElement('home')">Home</a>
        <a (click)="scrollToElement('ourStory')">Our Story</a>
        <a (click)="scrollToElement('menu')">The Menu</a>
        <a (click)="scrollToElement('news')">Recent News</a>
        <a (click)="scrollToElement('reservation')">Reservation</a>
      </div>
      <div>
        <div>
          <h2><span class="windsong">K</span>eep in touch</h2>
        </div>
        <div>
          <p>
            Be the first one to be notified about special events, offers and
            what’s new at Soma. By signing up you agree to our Terms of Service
            and Privacy Policy. You may unsubscribe at any time!
          </p>
          <div>
            <form action="">
              <input type="text" class="input-text" placeholder="Message" />
              <input type="submit" class="hover" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
