
    $cursorPointer:url('cursorPointer.png'), pointer;
    
    $background-color:#020201;   
    $text-primary:#FFFFFF;  

    $title-size: 7.5rem;
    $secondary-title: 4rem;
    $default-font-size: 1.25rem;
    $secondary-size: 1.375rem;


    $button-height-width:50px;
    

    $margin-top:20px;
    $margin-side:25px;

    $thin:100;
    $extra-Light:200;  
    $light:300;
    $regular:400;
    $medium:500;
    $semi-bold:600;
    $bold:700;
    $extra-bold:800;
    $black:900;

