<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: url('cursor.png'), auto;

    button,
    a {
      cursor: url('cursorPointer.png'), pointer;
    }
  "
  (mousemove)="onMouseMove($event)"
>
  <div
    [ngStyle]="
      windowWidth < 576
        ? { width: '95vw', translateX: '-10%' }
        : { width: '80vw', translateX: '10%' }
    "
    class="everything-container"
  >
    <div
      class="blob"
      id="blob"
      [ngStyle]="{ 'top.px': adjustedY, 'left.px': adjustedX }"
    ></div>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
